spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  jackson:
    deserialization:
      fail-on-unknown-properties: true
    time-zone: Asia/Seoul

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

management:
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      application:
        ${APP_NAME:deepple-api-service}-${SPRING_PROFILES_ACTIVE:local}
  endpoints:
    web:
      exposure:
        include:
          - health
          - prometheus
  endpoint:
    health:
      probes:
        enabled: true
      group:
        liveness:
          show-components: always
          include:
            - livenessState
        readiness:
          show-components: always
    prometheus:
      access: read_only
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  observations:
    annotations:
      enabled: true
    key-values:
      application:
        ${APP_NAME:deepple-api-service}-${SPRING_PROFILES_ACTIVE:local}
